<!DOCTYPE html>
<html itemscope itemtype="//schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Stefan Bohacek's Superbooth" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stefan Bohacek's Superbooth</title>
  <meta property="og:title" content="Stefan Bohacek's Superbooth." />
  <meta property="og:description" content="Stefan Bohacek's Superbooth" />
  <meta property="og:type" content="website" />
  <meta name="twitter:title" content="Stefan Bohacek's Superbooth.">
  <meta name="twitter:description" content="Stefan Bohacek's Superbooth">
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->  
  <link rel="stylesheet" href="css/styles.css">
  <link rel="shortcut icon" href="https://cdn.glitch.com/9fc5d264-8b30-41d3-99f5-df39a8c4f9f9%2Ffavicon.ico"/>
  <link rel="apple-touch-icon" sizes="57x57" href="https://cdn.glitch.com/9fc5d264-8b30-41d3-99f5-df39a8c4f9f9%2Fapple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://cdn.glitch.com/9fc5d264-8b30-41d3-99f5-df39a8c4f9f9%2Fapple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://cdn.glitch.com/9fc5d264-8b30-41d3-99f5-df39a8c4f9f9%2Fapple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://cdn.glitch.com/9fc5d264-8b30-41d3-99f5-df39a8c4f9f9%2Fapple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://cdn.glitch.com/9fc5d264-8b30-41d3-99f5-df39a8c4f9f9%2Fapple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://cdn.glitch.com/9fc5d264-8b30-41d3-99f5-df39a8c4f9f9%2Fapple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://cdn.glitch.com/9fc5d264-8b30-41d3-99f5-df39a8c4f9f9%2Fapple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.glitch.com/9fc5d264-8b30-41d3-99f5-df39a8c4f9f9%2Fapple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.glitch.com/9fc5d264-8b30-41d3-99f5-df39a8c4f9f9%2Fapple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="https://cdn.glitch.com/9fc5d264-8b30-41d3-99f5-df39a8c4f9f9%2Fandroid-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.glitch.com/9fc5d264-8b30-41d3-99f5-df39a8c4f9f9%2Ffavicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://cdn.glitch.com/9fc5d264-8b30-41d3-99f5-df39a8c4f9f9%2Ffavicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.glitch.com/9fc5d264-8b30-41d3-99f5-df39a8c4f9f9%2Ffavicon-16x16.png">
  <link rel="manifest" href="https://cdn.glitch.com/9fc5d264-8b30-41d3-99f5-df39a8c4f9f9%2Fmanifest.json?1489889870721">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro|Merriweather+Sans|Lobster" rel="stylesheet" type="text/css">
</head>
<body>
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="//browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <section id="content">
    <div id="content-inner">
      <header class="shifted">
        <h1>Superbooth</h1>
        <p class="emoji-logo"><a href="/">📷</a></p>
      </header>    
      {{{body}}}
    </div>
    <footer class="shifted">
      <p><a href="https://glitch.com/edit/#!/superbooth">Remix this project on Glitch.</a> Created by <a href="https://twitter.com/fourtonfish">@fourtonfish</a>.</p>
    </footer>
</section>
  <script>
    var node = document.createElement('style');
    node.innerHTML = '.shifted{-webkit-transition:all 1s;transition:all 1s;-webkit-transform:translate(0,10px);-ms-transform:translate(0,10px);transform:translate(0,10px);opacity:0}';
    document.body.appendChild(node);
  </script>
  <script defer src="js/scripts.js"></script>
  </body>
</html>