{{#if secrets.message}}
  <blockquote class="secret-message shifted"><p>{{secrets.message}}</p></blockquote>
{{/if}}

{{#if secrets.image_url}}
  <p class="shifted center-text"><img src="{{secrets.image_url}}" title="This is a secret image" alt="Secret image"></p>
{{/if}}

{{#if secrets.link}}
  <p class="shifted center-text"><a href="{{secrets.link}}" target="_blank">Secret link</a></p>
{{/if}}

